@import (less) "../bower_components/.dist/bower.css";
@import (less) "spinner.less";

@colorBg: white;
@colorFg: #4D4D4D;

*, *:before, *:after {
  box-sizing: border-box;
}

html {
  font-family: Helvetica, Arial, sans-serif;
  color: @colorFg;
  font-weight: 300;
}

body {
  background-color: @colorBg;
}

a {
  color: @colorFg;
  text-decoration: none;
  padding-right: 18px;
  background: url("/img/icon/pop-out.png") no-repeat 100% 0;
  background-size: 0.9em;
  margin-right: -3px;
}

a:visited {
  color: @colorFg;
}

a.button {
  line-height: 42px;
  padding: 0 20px;
  margin: 12px;
  border-radius: 4px;
  border: 1px solid @colorFg;
  background: none;
  display: inline-block;

  &:active {
    background-color: @colorFg;
    color: @colorBg;
  }
}

.slide {
  box-sizing: border-box;
  min-height: 100vh;
}

#header {
  padding-top: 30vh;
  text-align: center;

  @media screen and (max-height: 500px){
    padding-top: 20vh;
  }

  @media screen and (max-height: 350px){
    padding-top: 15vh;
  }

  .logo {
    display: block;
    margin: 0 auto;
    text-transform: uppercase;
    height: 30vmin;
  }

  .info {
    margin-top: 10vh;
    font-size: 0.9em;
    line-height: 1.8em;

    @media screen and (max-height: 350px){
      margin-top: 0;
    }
  }

  .more {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;

    .arrow-down {
      width: 7vmin;
      max-width: 35px;
    }
  }
}

#agenda {
  position: relative;
  max-width: 800px;
  margin: 0 auto;
  padding: 30px;
  text-align: center;

  .spinner {
    max-height: 30vh;
  }

  .eventList {
    margin: 0;
    padding: 0;

    .event {
      list-style: none;

      .date {
        font-weight: bold;
        padding-bottom: 5px;
      }

      &:not(:first-child) {
        margin-top: 30px;
      }
    }
  }
}
