@import (less) "../bower_components/.dist/bower.css";
@import (less) "../bower_components/lesshat/build/lesshat.less";
@import (less) "spinner.less";

@fontColor: black;
@fontColorSubtle: #4D4D4D;

*, *:before, *:after {
  .box-sizing(border-box);
}

html {
  font-family: Helvetica, Arial, sans-serif;
  color: @fontColor;
  font-weight: 300;
}

a {
  text-decoration: none;
  padding-right: 18px;
  background: url("/img/icon/pop-out.png") no-repeat 100% 0;
  background-size: 0.9em;
  margin-right: -3px;
}
a:visited {
  color: @fontColor;
}

#header {
  min-height: 100vh;
  text-align: center;
  padding-top: 30vh;

  .logo {
    display: block;
    margin: 0 auto;
    text-transform: uppercase;
    height: 25vmin;
  }

  .info {
    margin-top: 10vh;
    font-size: 0.9em;
    color: @fontColorSubtle;
    line-height: 1.8em;

    a, a:visited {
      color: @fontColorSubtle;
    }
  }

  .more {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;

    .arrow-down {
      width: 7vmin;
      max-width: 35px;
    }
  }
}

#agenda {
  position: relative;
  min-height: 100px;
}
